<launch>

    <node pkg="radar_lidar_static_calibration" type="radar_lidar_static_calibration_node" name="static_calibration" output="screen" >
        <param name="lidar_topic" value="/lidar/vlp16_back/PointCloud2" />
        <param name="radar_topic" value="/RadarDetectionImageNear_0" />
    </node>
</launch>